# ==============================================================================
# DATABASE (POSTGRES)
# ==============================================================================
POSTGRES_HOST=postgres
POSTGRES_DB=mlflow_db
POSTGRES_USER=mlflow_user
POSTGRES_PASSWORD=mlflow_pass

# ==============================================================================
# OBJECT STORAGE (MINIO)
# ==============================================================================
AWS_ACCESS_KEY_ID=minio_user
AWS_SECRET_ACCESS_KEY=minio_password
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
MLFLOW_S3_IGNORE_TLS=true

# ==============================================================================
# TRACKING SERVER (MLFLOW)
# ==============================================================================
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_URL=http://localhost:5000
MLFLOW_ADMIN_USERNAME=admin
MLFLOW_ADMIN_PASSWORD=password1234
MLFLOW_WORKERS=4

# ==============================================================================
# APLICATION INTERFACES (API & FRONT)
# ==============================================================================
API_URL=http://api:8000
